$white: hsl(0, 0%, 100%);
$dark-gray: hsl(240, 10%, 3.9%);
$light-red: hsl(355.7, 100%, 97.3%);
$pinkish-red: hsl(346.8, 77.2%, 49.8%);
$light-gray: hsl(240, 4.8%, 95.9%);
$gray-darker: hsl(240, 5.9%, 10%);
$gray-dark: hsl(240, 3.8%, 46.1%);
$red: hsl(0, 84.2%, 60.2%);
$white-smoke: hsl(0, 0%, 98%);
$gray-light: hsl(240, 5.9%, 90%);
$dark-blue-gray: hsl(20, 14.3%, 4.1%);
$gray: hsl(240, 3.7%, 15.9%);
$gray-medium: hsl(240, 5%, 64.9%);
$warm-gray: hsl(12, 6.5%, 15.1%);
$red-light: hsl(0, 85.7%, 97.3%);
$red-dark: hsl(0, 62.8%, 30.6%);

/*
$white: #ffffff; // hsl(0, 0%, 100%)
$dark-gray: #0a0a0a; // hsl(240, 10%, 3.9%)
$light-red: #fef3f3; // hsl(355.7, 100%, 97.3%)
$pinkish-red: #f06a8e; // hsl(346.8, 77.2%, 49.8%)
$light-gray: #f2f2f2; // hsl(240, 4.8%, 95.9%)
$gray-darker: #1a1a1a; // hsl(240, 5.9%, 10%)
$gray-dark: #767676; // hsl(240, 3.8%, 46.1%)
$red: #e63950; // hsl(0, 84.2%, 60.2%)
$white-smoke: #fcfcfc; // hsl(0, 0%, 98%)
$gray-light: #e6e6e6; // hsl(240, 5.9%, 90%)
$dark-blue-gray: #0d0a0a; // hsl(20, 14.3%, 4.1%)
$gray: #292929; // hsl(240, 3.7%, 15.9%)
$gray-medium: #a5a5a5; // hsl(240, 5%, 64.9%)
$warm-gray: #272121; // hsl(12, 6.5%, 15.1%)
$red-light: #fef3f3; // hsl(0, 85.7%, 97.3%)
$red-dark: #4e1f2f; // hsl(0, 62.8%, 30.6%)

*/