$white: hsl(0, 0%, 100%);
$dark-gray: hsl(240, 10%, 3.9%);
$light-red: hsl(355.7, 100%, 97.3%);
$pinkish-red: hsl(346.8, 77.2%, 49.8%);
$light-gray: hsl(240, 4.8%, 95.9%);
$gray-darker: hsl(240, 5.9%, 10%);
$gray-dark: hsl(240, 3.8%, 46.1%);
$red: hsl(0, 84.2%, 60.2%);
$white-smoke: hsl(0, 0%, 98%);
$gray-light: hsl(240, 5.9%, 90%);
$dark-blue-gray: hsl(20, 14.3%, 4.1%);
$gray: hsl(240, 3.7%, 15.9%);
$gray-medium: hsl(240, 5%, 64.9%);
$warm-gray: hsl(12, 6.5%, 15.1%);
$red-light: hsl(0, 85.7%, 97.3%);
$red-dark: hsl(0, 62.8%, 30.6%);